{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AI가 당신의 나이와 감정을 예측해드립니다</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
<body>
    <div class="all">
        <image id="logo" src="{% static 'img/logo.png' %}"></image>
    </div>
    <div class="main">
        <image id="stop" src="{% static 'img/main.png' %}"></image>
        
        <div class="button-container">
            
            <form id="myform" method="post" action="{% url 'main' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button class="btn purple rounded" onclick="chooseFile()" type="submit">테스트하기</button>
            </form>
        </div>
        
    </div>
    <style>
        input[type="file"] {
            display: none;
        }
        #id_image{
            display:none;
        }
        
        #btn{display:none;}
        
        label{
            position: relative;
            border: 0;
            padding: 15px 25px;
            display: inline-block;
            text-align: center;
            color: white;
            width:200px;
        }
    </style>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>